<div><%- reactMarkup %></div>
<div id='J_Matrix' data-params=<%= params %> ></div>

<% if (main === 'hotel-details') {%>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=AzitIIsmKbAnwlppPtW8sXls" type="text/javascript" charset="utf-8"></script>
<%}%>

<% if (main === 'movie' || main === 'follow-video' || main == 'f4') {%>
    <script type="text/javascript" src="/script/ckplayer/ckplayer.js" type="text/javascript" charset="utf-8"></script>
    <script src="//api.video.taobao.com//video/getPlayerJS"></script>
<%}%>

<script src=<%= '/script/modules/'+main+'.min.js?t=17' %> charset="utf-8" ></script>
