<!DOCTYPE html>
<html>
  <head>
    <% include modules/meta.html%>
    <link rel="stylesheet" href="/script/mediaelement/mediaelementplayer.css" />

    <script src="/script/mediaelement/jquery-1.9.1.js" charset="utf-8"></script>
    <script src="/script/react-15.1.0.min.js" charset="utf-8"></script>
    <script src="/script/react-dom-15.1.0.min.js" charset="utf-8"></script>

    <script src="/script/mediaelement/mediaelement-and-player.min.js" charset="utf-8"></script>
    <script src="//api.video.taobao.com//video/getPlayerJS"></script>
  </head>
  <body>
    <div id='root' style="min-width: 1260px" >
      <div id='J_Nav'><%- reactNavMarkup %></div>
      <div id='J_Main'><%- body %></div>
    </div>
  </body>
</html>
