<!DOCTYPE html>
<html>
  <head>
    <% include modules/meta.html%>

    <link rel="stylesheet" href="/styles/app.css?t=3" />
    <!--<script src="http://192.168.1.138:8081/target/target-script-min.js#anonymous" charset="utf-8"></script>-->
    <script src="//img2.jsbn.com/third_res/jquery-2.2.0.min.js" charset="utf-8"></script>
    <script src="//img2.jsbn.com/third_res/react-15.1.0.min.js" charset="utf-8"></script>
    <script src="//img2.jsbn.com/third_res/react-dom-15.1.0.min.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="demo-test-gallery" class="demo-gallery" data-pswp-uid="1" ></div>
    <div id="root" class="adaption-auto device-mobile">
      <div class="app-container">
        <div id='J_Nav_Second'><%- navSecond %></div>
        <div id='J_Nav_First'><%- navFirst %></div>
        <div id='J_Detail'></div>
        <div id='J_Detail_PopupBox'></div>
        <div id='J_Main' class="scrollView"><%- body %></div>
        <div id='J_PopupBox_1'></div>
      </div>
    </div>
    <% include modules/thirdpartservice.html %>
  </body>
</html>
