* {
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
body,
div,
ul,
dl,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
dt,
dd,
img,
a,
span,
p,
table,
td,
i,
input,
button,
textarea,
form {
  padding: 0;
  margin: 0;
  border: none;
}
ul,
li,
dl,
dt,
dd,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  color: #333;
}
a,
span,
p,
font,
b,
i,
strong {
  font-size: 1rem;
  font-weight: normal;
}
em {
  font-style: normal;
}
i {
  font-style: normal;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  width: 100%;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
@media (max-width: 320px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 321px) and (max-width: 340px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 341px) and (max-width: 360px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 361px) and (max-width: 380px) {
  html {
    font-size: 19px;
  }
}
@media (min-width: 381px) and (max-width: 400px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 401px) and (max-width: 420px) {
  html {
    font-size: 21px;
  }
}
@media (min-width: 421px) and (max-width: 440px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 441px) and (max-width: 460px) {
  html {
    font-size: 23px;
  }
}
@media (min-width: 461px) and (max-width: 480px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 28px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 36px;
  }
}
.more-button {
  width: 100%;
  height: 1.875rem;
}
.more-button .button-box {
  padding-right: 10px;
  padding-left: 0.625rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  float: right;
}
.more-button .button-box .icon {
  background-image: url("../images/icon-more-button.png");
  width: 15px;
  height: 15px;
  background-size: 15px;
  display: block;
  background-repeat: no-repeat;
  background-position-y: -15px;
}
.more-button .button-box .title {
  font-size: 0.75rem;
  line-height: 0.875rem;
}
.fixed_top_nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10070;
  width: 100%;
}
.banner-box {
  text-align: center;
}
.banner-box img {
  max-width: 100%;
}
/***
@f_s                字体尺寸
@pd                 那边距
@color              字体颜色
@color_hover
@bg_color           背景颜色
@bg_color_hover
@radius             圆角
@radius_hover
@border             边框
@border_hover
***/
/* 列表布局 */
/* uikit关闭按钮 */
.uk-close:after {
  display: none;
}
.uk-close-alt {
  height: 36px;
  width: 36px;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background: url(../img/fancybox_sprite.png) 0 0 no-repeat;
}
/* uikit左右按钮 */
.uk-slidenav-previous {
  position: relative;
}
.uk-slidenav-previous:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -18px;
  display: block;
  content: "";
  width: 36px;
  height: 36px;
  background: url(../img/fancybox_sprite.png) 0 -36px no-repeat;
}
.uk-slidenav-next {
  position: relative;
}
.uk-slidenav-next:before {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -18px;
  display: block;
  content: "";
  width: 36px;
  height: 36px;
  background: url(../img/fancybox_sprite.png) 0 -72px no-repeat;
}
.title-box-style-1 {
  text-align: center;
  position: relative;
  padding-top: 5px;
}
.title-box-style-1 .banner {
  position: relative;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.title-box-style-1 .banner i {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d6d6d6;
  position: absolute;
  top: 50%;
  z-index: 0;
}
.title-box-style-1 .banner span {
  position: relative;
  z-index: 1;
  color: #fff;
  background-color: #f94267;
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 3px 7px;
}
.title-box-style-1 .title {
  font-size: 1.125rem;
  font-weight: bold;
}
.title-box-style-1:before {
  height: 1.5rem;
  content: " ";
  background-image: url("../images/tit-box-1.png");
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.title-box-style-1:after {
  content: " ";
  background-image: url("../images/tit-box-detail-1.png");
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  height: 1.125rem;
  background-size: 80%;
}
.list-photo-box ul {
  font-size: 0;
}
.list-photo-box ul li {
  text-align: center;
}
.list-photo-box ul li img {
  width: auto;
  max-width: 100%;
}
.list-photo-box.photo-space ul li {
  margin-bottom: 10px;
}
.fixed-center-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10060;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.adaption-auto {
  width: 100%;
  height: 100%;
}
.adaption-auto .app-container {
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
}
.adaption-auto .scrollView,
.adaption-auto #J_Main {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.adaption-auto .sift-content-box {
  left: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.adaption-auto .sift-content-box.show-sift {
  left: 0;
}
.adaption-auto .sift-content-box .sift-center-box {
  max-width: 80%;
  min-width: 40%;
  border: 1px solid #d6d6d6;
  background-color: #fff;
}
.adaption-auto .sift-content-box .sift-center-box .sift-scrollView-box {
  overflow: auto;
  max-height: calc(100vh - 150px);
  padding-bottom: 5px;
}
.adaption-auto .sift-content-box .sift-center-box .content-box {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.adaption-auto .sift-content-box .sift-center-box .content-box .title {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.adaption-auto .sift-content-box .sift-center-box .content-box .title .text {
  line-height: 40px;
  font-size: 14px;
  display: block;
  margin-left: 5px;
}
.adaption-auto .sift-content-box .sift-center-box .content-box .item-list {
  width: calc(100% + 10px);
  margin-right: -10px;
  text-align: center;
}
.adaption-auto .sift-content-box .sift-center-box .content-box .item-list:before,
.adaption-auto .sift-content-box .sift-center-box .content-box .item-list:after {
  content: " ";
  display: table;
}
.adaption-auto .sift-content-box .sift-center-box .content-box .item-list:after {
  clear: both;
}
.adaption-auto .sift-content-box .sift-center-box .content-box .item-list .item {
  float: left;
  border-radius: 5px;
  height: 30px;
  min-width: 60px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #d6d6d6;
}
.adaption-auto .sift-content-box .sift-center-box .content-box .item-list .item .title {
  font-size: 12px;
  line-height: 30px;
  display: block;
}
.adaption-auto .sift-content-box .sift-center-box .content-box .item-list .item.item-activate {
  border-color: #f94267;
}
.adaption-auto .sift-content-box .sift-center-box .content-box .item-list .item.item-activate .title {
  color: #f94267;
}
.adaption-auto .sift-content-box .sift-center-box .content-box.type .title .icon {
  background-image: url("../images/icon-pringles-sift.png");
  width: 18px;
  height: 18px;
  background-size: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position-y: 0px;
}
.adaption-auto .sift-content-box .sift-center-box .content-box.style .title .icon {
  background-image: url("../images/icon-pringles-sift.png");
  width: 18px;
  height: 18px;
  background-size: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position-y: -18px;
}
.adaption-auto .sift-content-box .sift-center-box .content-box.address .title .icon {
  background-image: url("../images/icon-pringles-sift.png");
  width: 18px;
  height: 18px;
  background-size: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position-y: -36px;
}
.adaption-auto .sift-content-box .sift-center-box .button-box {
  display: flex;
  height: 35px;
  flex-direction: row;
  border-top: 1px solid #d6d6d6;
  text-align: center;
}
.adaption-auto .sift-content-box .sift-center-box .button-box .confirm-button,
.adaption-auto .sift-content-box .sift-center-box .button-box .reset-button {
  flex: 1;
  font-size: 14px;
  line-height: 35px;
}
.adaption-auto .sift-content-box .sift-center-box .button-box .confirm-button {
  background-color: #f94267;
}
.adaption-auto .nav-placeholder {
  height: 42px;
}
.adaption-auto .nav-placeholder .sift-nav .sift-nav-box {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  padding-right: 60px;
  background-color: #fff;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  position: relative;
  text-align: center;
}
.adaption-auto .nav-placeholder .sift-nav .sift-nav-box span {
  font-size: 12px;
  line-height: 20px;
  display: block;
}
.adaption-auto .nav-placeholder .sift-nav .sift-nav-box .sift-title {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(231, 59, 99, 0.8);
  border-radius: 10px;
  width: 40px;
  height: 20px;
  line-height: 20px;
  display: none;
}
.adaption-auto .nav-placeholder .sift-nav .sift-nav-box .sift-title .text {
  font-size: 12px;
}
.adaption-auto .nav-placeholder .sift-nav .sift-nav-box .sift-list-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
}
.adaption-auto .nav-placeholder .sift-nav .sift-nav-box .sift-list-box ul {
  width: 1000%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.adaption-auto .nav-placeholder .sift-nav .sift-nav-box .sift-list-box ul li {
  float: left;
  height: 20px;
  margin-right: 10px;
  font-size: 12px;
}
.adaption-auto .nav-placeholder .sift-nav .sift-nav-box .sift-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.adaption-auto .nav-placeholder .sift-nav .sift-nav-box .sift-button .icon {
  background-image: url("../images/icon-sift-button.png");
  width: 15px;
  height: 15px;
  background-size: 100%;
  display: block;
  background-repeat: no-repeat;
}
.adaption-auto .nav-placeholder .option-group-box {
  height: 42px;
  background-color: #fff;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
.adaption-auto .nav-placeholder .option-group-box .option-group {
  display: flex;
  height: 100%;
  flex-direction: row;
  text-align: center;
}
.adaption-auto .nav-placeholder .option-group-box .option-group .option {
  flex: 1;
}
.adaption-auto .nav-placeholder .option-group-box .option-group .option .title {
  line-height: 42px;
  font-size: 14px;
}
.adaption-auto .nav-placeholder .option-group-box .option-group .option.activate {
  border-bottom: 3px solid #f94267;
}
.adaption-auto .nav-placeholder .option-group-box .option-group .option.activate .title {
  color: #f94267;
}
.adaption-auto .first-menu {
  display: flex;
  position: fixed;
  z-index: 10070;
  bottom: 0;
  width: 100%;
  height: 50px;
  flex-direction: row;
  background-color: #fff;
  border-top: 1px solid #d6d6d6;
  padding-top: 6px;
}
.adaption-auto .first-menu .item {
  flex-grow: 1;
  width: 25%;
  text-align: center;
}
.adaption-auto .first-menu .item .icon {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background-image: url("../images/icon-first-menu.png");
  width: 20px;
  height: 20px;
  background-size: 100px;
  display: block;
  background-repeat: no-repeat;
}
.adaption-auto .first-menu .item .title {
  font-size: 12px;
  line-height: 18px;
  display: block;
  width: 100%;
  height: 20px;
  padding-top: 2px;
}
.adaption-auto .first-menu .item:nth-child(1) .icon {
  background-position-x: 0px;
}
.adaption-auto .first-menu .item:nth-child(2) .icon {
  background-position-x: -20px;
}
.adaption-auto .first-menu .item:nth-child(3) .icon {
  background-position-x: -40px;
}
.adaption-auto .first-menu .item:nth-child(4) .icon {
  background-position-x: -60px;
}
.adaption-auto .first-menu .item:nth-child(5) .icon {
  background-position-x: -80px;
}
.adaption-auto .first-menu .item.item-activate .icon {
  background-image: url("../images/icon-first-menu-activate.png");
}
.adaption-auto .first-menu .item.item-activate .title {
  color: #f94267;
}
.adaption-auto .secondly-menu {
  position: fixed;
  z-index: 10060;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  top: 0;
  left: -68px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.adaption-auto .secondly-menu .menu-box {
  position: relative;
  box-sizing: content-box;
  padding: 3px 3px 3px 0;
  border-bottom-right-radius: 5px;
  background-color: #ffdb08;
}
.adaption-auto .secondly-menu .menu-box .item {
  width: 65px;
  height: 35px;
  text-align: center;
}
.adaption-auto .secondly-menu .menu-box .item:last-child {
  margin-bottom: 0;
}
.adaption-auto .secondly-menu .menu-box .item:nth-child( 5n + 1) {
  background-color: #10437a;
}
.adaption-auto .secondly-menu .menu-box .item:nth-child( 5n + 2) {
  background-color: #ec242e;
}
.adaption-auto .secondly-menu .menu-box .item:nth-child( 5n + 3) {
  background-color: #fd720d;
}
.adaption-auto .secondly-menu .menu-box .item:nth-child( 5n + 4) {
  background-color: #e73b63;
}
.adaption-auto .secondly-menu .menu-box .item:nth-child( 5n + 5) {
  background-color: #0b9a64;
}
.adaption-auto .secondly-menu .menu-box .item .title {
  font-size: 12px ;
  color: #fff;
  line-height: 35px;
  display: block;
}
.adaption-auto .secondly-menu .menu-box .item.item-activate .title {
  color: #fbd213;
}
.adaption-auto .secondly-menu .menu-box .open-button {
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 73px;
}
.adaption-auto .secondly-menu .menu-box .open-button .info-box {
  width: 35px;
  height: 100%;
  position: relative;
  text-align: center;
}
.adaption-auto .secondly-menu .menu-box .open-button .info-box .title {
  display: block;
  position: absolute;
  width: 30px;
  height: 24px;
  font-size: 12px;
  line-height: 12px;
  top: 25%;
  left: 50%;
  color: #fff;
  z-index: 100;
  margin-top: -10px;
  margin-left: -15px;
}
.adaption-auto .secondly-menu .menu-box .open-button .info-box .icon {
  position: absolute;
  z-index: 100;
  top: 70%;
  left: 50%;
  margin-top: -9px;
  margin-left: -12px;
  zoom: 0.8;
  background-image: url("../images/icon-open-button.png");
  width: 20px;
  height: 15px;
  background-size: 200%;
  display: block;
  background-repeat: no-repeat;
  background-position-x: 0px;
}
.adaption-auto .secondly-menu .menu-box .open-button .info-box .bg-box {
  border-top-right-radius: 5px;
  position: relative;
  height: calc(100% - 25px);
  background-color: #ffdb08;
  padding: 3px;
}
.adaption-auto .secondly-menu .menu-box .open-button .info-box .bg-box:before {
  content: "";
  display: block;
  background-color: #000;
  width: 100%;
  height: 35px;
  margin: auto;
  border-radius: 2px;
}
.adaption-auto .secondly-menu .menu-box .open-button .info-box .bg-box:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -25px;
  left: 0;
  border-style: solid;
  border-color: transparent transparent transparent #ffdb08;
  border-width: 0 0 25px 35px;
  width: calc(100% - 6px);
  margin: auto;
}
.adaption-auto .secondly-menu.fold {
  left: 0;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.adaption-auto .secondly-menu.fold .menu-box .open-button .icon {
  background-position-x: -20px;
}
.adaption-auto .top-logo-box {
  height: 44px;
  width: 100%;
  background-color: #f94267;
}
.adaption-auto .top-logo-box .logo-box {
  height: 44px;
  width: 300px;
  margin: 0 auto;
}
.adaption-auto .top-logo-box .icon-home-logo {
  float: left;
  background-image: url("../images/icon-home-logo.png");
  width: 54px;
  height: 21px;
  background-size: 100%;
  display: block;
  background-repeat: no-repeat;
  margin-top: 12px;
}
.adaption-auto .top-logo-box .icon-home-word {
  float: right;
  margin-top: 13px;
  background-image: url("../images/icon-home-word.png");
  width: 198px;
  height: 18px;
  background-size: 100%;
  display: block;
  background-repeat: no-repeat;
}
.adaption-auto .adv-header-box {
  position: relative;
  width: 100%;
  height: 66.6666vw;
}
.adaption-auto .adv-header-box .carousel-picture {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.adaption-auto .adv-header-box .carousel-picture ul {
  flex-direction: row;
  width: 100%;
}
.adaption-auto .adv-header-box .carousel-picture ul li {
  float: left;
  width: 100vw;
}
.adaption-auto .adv-header-box .carousel-picture ul:before,
.adaption-auto .adv-header-box .carousel-picture ul:after {
  content: " ";
  display: table;
}
.adaption-auto .adv-header-box .carousel-picture ul:after {
  clear: both;
}
.adaption-auto .adv-header-box .carousel-picture .point-box {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}
.adaption-auto .adv-header-box .carousel-picture .point-box .point {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 3px;
  margin-right: 3px;
}
.adaption-auto .adv-header-box .carousel-picture .point-box .point.point-activate {
  background-color: #f94267;
}
.adaption-auto .home-view {
  width: 100%;
  height: 100%;
}
.adaption-auto .home-view .top-logo-box {
  display: none;
}
.adaption-auto .home-view .menu-box {
  width: 100%;
  height: calc(100% - 66.6666vw);
}
.adaption-auto .home-view .menu-box .menu-list {
  height: 100%;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item {
  overflow: hidden;
  float: left;
  position: relative;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item > a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item span {
  text-align: center;
  width: 100%;
  display: block;
  color: #000;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item .menu-icon {
  margin: 0 auto;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item .title {
  font-size: 0.875rem;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item .desc {
  font-size: 0.75rem;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(-n+2) {
  width: 50%;
  height: 60%;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(-n+2) .title {
  font-size: 1.125rem;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(-n+2) .desc {
  font-size: 0.75rem;
  padding-bottom: 5px;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(n+3) {
  width: 33.3333%;
  height: 40%;
  border-right: 1px solid #d6d6d6;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(n+3) .menu-icon {
  order: 1;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(n+3) .title {
  order: 2;
  padding-top: 5px;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(n+3) .desc {
  display: none;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(1) {
  border-right: 1px solid #d6d6d6;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(1) .title {
  color: #f94267;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(1) .menu-icon {
  background-image: url("../images/icon-home-menu-hssy.png");
  width: 64px;
  height: 67px;
  background-size: 100%;
  display: block;
  background-repeat: no-repeat;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(2) .title {
  color: #f94267;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(2) .menu-icon {
  background-image: url("../images/icon-home-menu-hldz.png");
  width: 64px;
  height: 67px;
  background-size: 100%;
  display: block;
  background-repeat: no-repeat;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(3) .menu-icon {
  background-image: url("../images/icon-home-menu-3.png");
  width: 30px;
  height: 29px;
  background-size: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position-y: 0px;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(4) .menu-icon {
  background-image: url("../images/icon-home-menu-3.png");
  width: 30px;
  height: 29px;
  background-size: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position-y: -29px;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(5) {
  border-right: none;
}
.adaption-auto .home-view .menu-box .menu-list .menu-item:nth-child(5) .menu-icon {
  background-image: url("../images/icon-home-menu-3.png");
  width: 30px;
  height: 29px;
  background-size: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position-y: -58px;
}
.adaption-auto .home-view .menu-box .menu-list:before,
.adaption-auto .home-view .menu-box .menu-list:after {
  content: " ";
  display: table;
}
.adaption-auto .home-view .menu-box .menu-list:after {
  clear: both;
}
.adaption-auto .hssy-home-view {
  width: 100%;
}
.adaption-auto .hssy-home-view .list-sample {
  margin-bottom: 10px;
}
.adaption-auto .hssy-home-view .list-sample ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px 0;
  margin-bottom: -10px;
}
.adaption-auto .hssy-home-view .list-sample ul li {
  width: calc((100vw - 10px * (2 + 1))/2);
  height: calc((100vw - 10px * (2 + 1))/2 * 1.5 + 0px);
  overflow: hidden;
  margin-bottom: 10px;
}
.adaption-auto .hssy-home-view .list-sample ul li > a {
  display: block;
  width: 100%;
  height: 100%;
}
.adaption-auto .hssy-home-view .list-sample ul li img {
  width: 100%;
}
.adaption-auto .hssy-home-view .list-sample ul li .info-box {
  width: 100%;
  height: 0px;
}
.adaption-auto .hssy-home-view .list-sample ul li .photo-box {
  width: 100%;
  height: calc(100% - 0px);
  overflow: hidden;
}
.adaption-auto .hssy-home-view .list-pringles {
  margin-bottom: 10px;
}
.adaption-auto .hssy-home-view .list-pringles ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px 0;
  margin-bottom: -10px;
}
.adaption-auto .hssy-home-view .list-pringles ul li {
  width: calc((100vw - 10px * (2 + 1))/2);
  height: calc((100vw - 10px * (2 + 1))/2 * 1.5 + 0px);
  overflow: hidden;
  margin-bottom: 10px;
}
.adaption-auto .hssy-home-view .list-pringles ul li > a {
  display: block;
  width: 100%;
  height: 100%;
}
.adaption-auto .hssy-home-view .list-pringles ul li img {
  width: 100%;
}
.adaption-auto .hssy-home-view .list-pringles ul li .info-box {
  width: 100%;
  height: 0px;
}
.adaption-auto .hssy-home-view .list-pringles ul li .photo-box {
  width: 100%;
  height: calc(100% - 0px);
  overflow: hidden;
}
.adaption-auto .hssy-home-view .list-suit {
  margin-bottom: 10px;
}
.adaption-auto .hssy-home-view .list-suit ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px 0;
  margin-bottom: -10px;
}
.adaption-auto .hssy-home-view .list-suit ul li {
  width: calc((100vw - 10px * (1 + 1))/1);
  height: calc((100vw - 10px * (1 + 1))/1 * 0.25 + 0px);
  overflow: hidden;
  margin-bottom: 10px;
}
.adaption-auto .hssy-home-view .list-suit ul li > a {
  display: block;
  width: 100%;
  height: 100%;
}
.adaption-auto .hssy-home-view .list-suit ul li img {
  width: 100%;
}
.adaption-auto .hssy-home-view .list-suit ul li .info-box {
  width: 100%;
  height: 0px;
}
.adaption-auto .hssy-home-view .list-suit ul li .photo-box {
  width: 100%;
  height: calc(100% - 0px);
  overflow: hidden;
}
.adaption-auto .hssy-home-view .list-suit .suit-box {
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.adaption-auto .hssy-home-view .list-suit .suit-box .photo-box {
  overflow: hidden;
  width: 50%;
  height: 100%;
}
.adaption-auto .hssy-home-view .list-suit .suit-box .photo-box img {
  width: 100%;
}
.adaption-auto .hssy-home-view .list-suit .suit-box .info-box {
  width: 50%;
  height: 100%;
  text-align: left;
  padding-left: 10px;
  position: relative;
  overflow: auto;
}
.adaption-auto .hssy-home-view .list-suit .suit-box .info-box .img-title {
  background-image: url("../images/suit-title-img.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 50%;
  display: block;
  width: 100%;
  height: 1.5rem;
}
.adaption-auto .hssy-home-view .list-suit .suit-box .info-box .text-title {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 0.875rem;
  margin-bottom: 2px;
  font-weight: bold;
  height: 0.875rem;
}
.adaption-auto .hssy-home-view .list-suit .suit-box .info-box .text-title:active {
  color: #f94267;
}
.adaption-auto .hssy-home-view .list-suit .suit-box .info-box .text-content {
  display: block;
  padding-top: 3px;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: normal;
  color: #949191;
}
.adaption-auto .hqdz-home-view {
  width: 100%;
  height: 100%;
}
.adaption-auto .hyyd-home-view {
  width: 100%;
  height: 100%;
}
.adaption-auto .hssy-suit-list-view .list-box {
  margin-bottom: 10px;
}
.adaption-auto .hssy-suit-list-view .list-box ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px 0;
  margin-bottom: -10px;
}
.adaption-auto .hssy-suit-list-view .list-box ul li {
  width: calc((100vw - 10px * (1 + 1))/1);
  height: calc((100vw - 10px * (1 + 1))/1 * 0.66666667 + 1.875rem);
  overflow: hidden;
  margin-bottom: 10px;
}
.adaption-auto .hssy-suit-list-view .list-box ul li > a {
  display: block;
  width: 100%;
  height: 100%;
}
.adaption-auto .hssy-suit-list-view .list-box ul li img {
  width: 100%;
}
.adaption-auto .hssy-suit-list-view .list-box ul li .info-box {
  width: 100%;
  height: 1.875rem;
}
.adaption-auto .hssy-suit-list-view .list-box ul li .photo-box {
  width: 100%;
  height: calc(100% - 1.875rem);
  overflow: hidden;
}
.adaption-auto .hssy-suit-list-view .list-box .info-box span {
  line-height: 1.875rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.adaption-auto .hssy-suit-list-view .list-box .info-box .title {
  float: left;
  font-size: 1.125rem;
  color: #efa507;
}
.adaption-auto .hssy-suit-list-view .list-box .info-box .unit {
  float: right;
  color: #f94267;
  font-size: 0.875rem;
}
.adaption-auto .hssy-suit-list-view .list-box .info-box .price {
  float: right;
  font-size: 1.5rem;
  color: #f94267;
  margin-right: 4px;
  position: relative;
  top: -0.1875rem;
}
.adaption-auto .sample-list-view .list-box {
  margin-bottom: 10px;
}
.adaption-auto .sample-list-view .list-box ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px 0;
  margin-bottom: -10px;
}
.adaption-auto .sample-list-view .list-box ul li {
  width: calc((100vw - 10px * (2 + 1))/2);
  height: calc((100vw - 10px * (2 + 1))/2 * 1.5 + 0px);
  overflow: hidden;
  margin-bottom: 10px;
}
.adaption-auto .sample-list-view .list-box ul li > a {
  display: block;
  width: 100%;
  height: 100%;
}
.adaption-auto .sample-list-view .list-box ul li img {
  width: 100%;
}
.adaption-auto .sample-list-view .list-box ul li .info-box {
  width: 100%;
  height: 0px;
}
.adaption-auto .sample-list-view .list-box ul li .photo-box {
  width: 100%;
  height: calc(100% - 0px);
  overflow: hidden;
}
.adaption-auto .pringles-list-view .season-box {
  overflow: hidden;
  border-bottom: 1px solid #f94267;
}
.adaption-auto .pringles-list-view .season-box > .icon {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  width: 7.5rem;
  height: 1.25rem;
  background-position: center center;
  background-image: url("../images/icon-pringlesSeason-arrow.png");
  background-size: 100%;
}
.adaption-auto .pringles-list-view .season-box .activate-info {
  margin-top: 1.25rem;
  text-align: center;
}
.adaption-auto .pringles-list-view .season-box .activate-info .text-title {
  color: #f94267;
  background-color: #fff;
}
.adaption-auto .pringles-list-view .list-season {
  margin-bottom: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
  max-width: 100vw;
  margin-bottom: -15px;
  text-align: center;
  /* 核心样式 */
  /* 阴影的呼吸灯效果 */
}
.adaption-auto .pringles-list-view .list-season ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px 0;
  margin-bottom: -10px;
}
.adaption-auto .pringles-list-view .list-season ul li {
  width: calc((100vw - 10px * (3 + 1))/3);
  height: calc((100vw - 10px * (3 + 1))/3 * 0.6666 + 25px);
  overflow: hidden;
  margin-bottom: 10px;
}
.adaption-auto .pringles-list-view .list-season ul li > a {
  display: block;
  width: 100%;
  height: 100%;
}
.adaption-auto .pringles-list-view .list-season ul li img {
  width: 100%;
}
.adaption-auto .pringles-list-view .list-season ul li .info-box {
  width: 100%;
  height: 25px;
}
.adaption-auto .pringles-list-view .list-season ul li .photo-box {
  width: 100%;
  height: calc(100% - 25px);
  overflow: hidden;
}
.adaption-auto .pringles-list-view .list-season .text-title {
  font-size: 12px;
  line-height: 25px;
  display: block;
  width: 100%;
  height: 100%;
}
.adaption-auto .pringles-list-view .list-season .item-list {
  margin-top: 10px;
  padding-left: calc((100vw - 10px * (3 + 1))/3 + 20px);
  padding-right: calc((100vw - 10px * (3 + 1))/3 + 20px);
}
.adaption-auto .pringles-list-view .list-season .item.activate {
  transform: scale(1.8);
  position: relative;
  top: 15px;
}
.adaption-auto .pringles-list-view .list-season .item.activate .text-title {
  display: none;
}
.adaption-auto .pringles-list-view .list-season .activate + .item {
  text-align: right;
}
.adaption-auto .pringles-list-view .list-season .item + .activate {
  text-align: left;
}
.adaption-auto .pringles-list-view .list-season .item {
  /* 定义过渡属性，就是平滑的变大，看起来不会那么生硬  */
  /* webkit写法,现在的chrome版本已经支持transition这种方式了 */
}
.adaption-auto .pringles-list-view .list-season .item.activate {
  /* 依次定义变换、阴影、阴影的动画  */
  outline: none;
}
@keyframes glow {
  0% {
    border-color: #000;
    box-shadow: 0 0 5px 5px transparent;
  }
  100% {
    border-color: #000;
    box-shadow: 0 0 10px 5px #000;
  }
}
@-webkit-keyframes glow {
  0% {
    border-color: #000;
    box-shadow: 0 0 5px 5px transparent;
    -webkit-box-shadow: 0 0 5px 5px transparent;
  }
  100% {
    border-color: #000;
    box-shadow: 0 0 10px 5px #000;
    -webkit-box-shadow: 0 0 10px 5px #000;
  }
}
.adaption-auto .pringles-list-view .list-pringles,
.adaption-auto .pringles-list-view .list-new-pringles {
  margin-bottom: 10px;
}
.adaption-auto .pringles-list-view .list-pringles ul,
.adaption-auto .pringles-list-view .list-new-pringles ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px 0;
  margin-bottom: -10px;
}
.adaption-auto .pringles-list-view .list-pringles ul li,
.adaption-auto .pringles-list-view .list-new-pringles ul li {
  width: calc((100vw - 10px * (2 + 1))/2);
  height: calc((100vw - 10px * (2 + 1))/2 * 1.5 + 0px);
  overflow: hidden;
  margin-bottom: 10px;
}
.adaption-auto .pringles-list-view .list-pringles ul li > a,
.adaption-auto .pringles-list-view .list-new-pringles ul li > a {
  display: block;
  width: 100%;
  height: 100%;
}
.adaption-auto .pringles-list-view .list-pringles ul li img,
.adaption-auto .pringles-list-view .list-new-pringles ul li img {
  width: 100%;
}
.adaption-auto .pringles-list-view .list-pringles ul li .info-box,
.adaption-auto .pringles-list-view .list-new-pringles ul li .info-box {
  width: 100%;
  height: 0px;
}
.adaption-auto .pringles-list-view .list-pringles ul li .photo-box,
.adaption-auto .pringles-list-view .list-new-pringles ul li .photo-box {
  width: 100%;
  height: calc(100% - 0px);
  overflow: hidden;
}
.adaption-auto .micro-movie-list-view .list-box {
  margin-bottom: 5px;
}
.adaption-auto .micro-movie-list-view .list-box ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 5px 0;
  margin-bottom: -5px;
}
.adaption-auto .micro-movie-list-view .list-box ul li {
  width: calc((100vw - 5px * (2 + 1))/2);
  height: calc((100vw - 5px * (2 + 1))/2 * 0.6666 + 25px);
  overflow: hidden;
  margin-bottom: 5px;
}
.adaption-auto .micro-movie-list-view .list-box ul li > a {
  display: block;
  width: 100%;
  height: 100%;
}
.adaption-auto .micro-movie-list-view .list-box ul li img {
  width: 100%;
}
.adaption-auto .micro-movie-list-view .list-box ul li .info-box {
  width: 100%;
  height: 25px;
}
.adaption-auto .micro-movie-list-view .list-box ul li .photo-box {
  width: 100%;
  height: calc(100% - 25px);
  overflow: hidden;
}
.adaption-auto .micro-movie-list-view .list-box .info-box {
  text-align: center;
}
.adaption-auto .micro-movie-list-view .list-box .info-box .text-title {
  font-size: 12px;
}
.adaption-auto .micro-movie-list-view .more-button .button-box .icon {
  background-image: url("../images/icon-more-button.png");
  width: 15px;
  height: 15px;
  background-size: 15px;
  display: block;
  background-repeat: no-repeat;
  background-position-y: 0;
}
.adaption-auto .full-view-show {
  height: 100%;
}
/*# sourceMappingURL=app.css.map */